<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>Spring环境配置</description>

    <!--  项目配置文件  -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="false" />
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <!--  配置文件存放路径  -->
    <bean id="dataPrepare" class="com.imovie.bean.DataPrepare">
        <property name="imagePath" value="${image.path}"/>
        <property name="idLength" value="${length.id}"/>
    </bean>

    <!--  数据库配置  -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${mysql.url}" />
        <property name="username" value="${mysql.user}" />
        <property name="password" value="${mysql.password}" />
        <property name="driverClassName" value="${mysql.driver}" />

        <property name="initialSize" value="${druid.initialSize}"/>
        <property name="minIdle" value="${druid.minIdle}"/>
        <property name="maxActive" value="${druid.maxActive}"/>

        <property name="maxWait" value="${druid.maxWait}"/>

        <property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetween}"/>

        <property name="minEvictableIdleTimeMillis" value="${druid.minActive}"/>

        <property name="validationQuery" value="${druid.validationQuery}"/>
        <property name="testWhileIdle" value="${druid.testWhileIdle}"/>
        <property name="testOnBorrow" value="${druid.testOnBorrow}"/>
        <property name="testOnReturn" value="${druid.testOnReturn}"/>

        <property name="filters" value="${druid.filters}"/>
    </bean>

    <!--  配置数据源事务管理器  -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--  集成 MyBatis  -->
    <!--  配置扫描保存sql语句的局部xml文件  -->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--  指定数据源  -->
        <property name="dataSource" ref="dataSource"/>
        <!--  MyBatis配置文件   -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <!--  扫描mapper接口类, 并将接口类与xml文件关联  -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--   指定mapper接口类存放的位置   -->
        <property name="basePackage" value="com.imovie.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
        <!--  指定标注才扫描成为Mapper  -->
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>
</beans>